.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.titleStyles {
  position: absolute;
  margin-top: 5%;
  color: #FFFFFA;
  text-shadow: 1px 0 #010400, -1px 0 #010400, 0 1px #010400, 0 -1px #010400, 1px 1px #010400, -1px -1px #010400, 1px -1px #010400, -1px 1px #010400;
  background-color: #c9ede8;
  margin-right: 24px;
}

.imgStyles {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  border-radius: 50%;
}

/*
xs, extra-petit : 0px
sm, petit : 600px
md, moyen : 900px
lg, grand : 1 200 pixels
xl, extra-large : 1536px
*/

@media (max-width: 900px) {
  /* Styles pour les écrans de 768px ou moins */
  .titleStyles {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  /* Styles pour les écrans de 768px ou moins */
  .titleStyles {
    font-size: 20px;
  }

  .imgStyles {
    border-radius: 10%;
  }
}
