.footer {
  background-color: #57C5B6;
  color: #fff;
  padding: 32px 0;
}

.section {
  margin-bottom: 16px;
}

.sectionTitle {
  margin-bottom: 8px;
}

.link {
  display: block;
  margin-bottom: 8px;
}
