.container {
  margin-bottom: 2%;
  margin-top: 2%;
}

.gridCarousel {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

/*
xs, extra-petit : 0px
sm, petit : 600px
md, moyen : 900px
lg, grand : 1 200 pixels
xl, extra-large : 1536px
*/

@media (max-width: 900px) {

}
